/*---------------------
    ## Breadcumb
----------------------*/
.breadcrumb-wrap.navbar- .breadcrumb-content {
  padding: 110px 0 120px 0;
}

.breadcrumb-wrap {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent linear-gradient(180deg, #19232DA2 0%, #363F48BB 47%, #656c72b6 100%) 0% 0% no-repeat padding-box;
    z-index: -1;
  }

  &.extra {
    padding-bottom: 138px;
  }

  &.navbar-style-02 {
    .breadcrumb-content {
      padding: 257px 0 157px 0;
    }
  }

  &.navbar-style-03 {
    .breadcrumb-content {
      padding: 150px 0 155px 0;
    }
  }

  .breadcrumb-content {
    padding: 155px 0 155px 0;
    text-align: center;
  }

  .page-title {
    font-size: 65px;
    line-height: 75px;
    font-weight: 500;
    color: $white;
    text-transform: capitalize;
    margin-bottom: 15px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }

  p {
    display: inline-block;
    padding: 5px 20px;
    text-transform: uppercase;
    background-color: var(--main-color-one);
    font-size: 14px;
    line-height: 20px;
    max-width: 600px;
    color: rgba($white, .90);
    margin-bottom: 20px;
  }

  .page-list {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      padding-left: 45px;
      font-size: 20px;
      color: #fff;
      font-weight: 500;

      &:first-child {
        padding-left: 0;

        a {
          color: var(--main-color-one);
        }

        &:after {
          display: none;
        }
      }

      &:after {
        position: absolute;
        left: 18px;
        font-size: 12px;
        top: 7px;
        content: "\f13c";
        font-family: "flaticon";
      }
    }
  }
}

