/*----------------------------------------------
    # Nav bar
----------------------------------------------*/

.navbar.navbar-area.white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

// .navbar.navbar-area.navigation-style-01 .navbar-toggler-icon {
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
// }
.navbar.navbar-area .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.50)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.mobile-logo {
  display: none;
}

@media only screen and (max-width: 991px) {
  .mobile-logo {
    display: block;
  }
  .desktop-logo {
    display: none !important;
  }
}

.navbar-area {
  padding: 0;

  &.nav-absolute {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0px;
    z-index: 1;
  }

  &.navigation-style-02 {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 75px;
    z-index: 3;

    &.has-topbar {
      top: 135px;
    }

    &.has-topbar-04 {
      top: 120px;
    }

    &.has-topbar-03 {
      top: 41px;
    }

    &.has-topbar-02 {
      top: 60px;
    }

    .custom-container {
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;

      .logo-wrapper {
        max-width: 200px;
      }


      .nav-right-content {
        display: flex;
        align-items: center;
        margin-left: 80px;

        ul {
          li {
            color: var(--main-color-one);

            + li {
              margin-left: 10px;
            }

            a {
              .icon {
                color: #fff;

                i {
                  transition: all 300ms ease-in;
                }

                &:hover {
                  color: $white;
                }
              }
            }
          }
        }

        .info-items {
          li {
            font-weight: 700;
          }
        }

        .btn-wrap {
          margin-left: 50px;
        }
      }

      .navbar-collapse {
        .navbar-nav {
          text-align: right;

          li {
            &.current-menu-item {
              a {
                color: var(--main-color-one);
              }

              &:before {
                color: var(--main-color-one);
              }
            }

            &.menu-item-has-children {
              z-index: initial;

              &:before {
                color: var(--main-color-one);
              }

              .sub-menu {
                li {
                  a {
                    background-color: #fff;
                    color: var(--paragraph-color);

                    &:hover {
                      background-color: var(--main-color-one);
                      color: #fff;
                    }
                  }
                }

                .menu-item-has-children {
                  &:hover > .sub-menu {
                    li {
                      &:hover {
                        &:before {
                          color: $white;
                        }
                      }

                      a {
                      }
                    }
                  }
                }
              }
            }

            a {
              @include transition($transition);
              color: var(--main-color-one);
            }

            &:hover {
              &.menu-item-has-children {
                &:before {
                  color: var(--main-color-one);
                }
              }

              a {
                color: var(--main-color-one);
              }
            }
          }
        }
      }
    }
  }

  &.navigation-style-01 {
    background-color: $white;

    .custom-container {
      background-color: $white;
      box-shadow: none;
      border-radius: 0;
      padding: 0 20px;

      .logo-wrapper {
        max-width: 200px;
      }

      .nav-right-content {
        display: flex;
        align-items: center;
        margin-left: 30px;

        ul {
          li {
            color: var(--main-color-one);

            + li {
              margin-left: 10px;
            }

            a {
              .icon {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: var(--main-color-one);
                color: #fff;
                display: inline-block;
                text-align: center;
                line-height: 36px;
                transition: all 300ms ease-in;

                &:hover {
                  background-color: var(--main-color-one);
                  color: $white;
                }
              }
            }
          }
        }
      }

      .navbar-collapse {
        .navbar-nav {
          text-align: center;

          li {
            &.current-menu-item {
              a {
                color: var(--main-color-one);
              }

              &:before {
                color: var(--main-color-one);
              }
            }

            &.menu-item-has-children {
              z-index: initial;

              &:before {
                color: var(--main-color-one);
              }

              .sub-menu {
                li {
                  a {
                    background-color: #fff;
                    color: var(--paragraph-color);

                    &:hover {
                      background-color: var(--main-color-one);
                      color: #fff;
                    }
                  }
                }

                .menu-item-has-children {
                  &:hover > .sub-menu {
                    li {
                      &:hover {
                        &:before {
                          color: $white;
                        }
                      }

                      a {
                      }
                    }
                  }
                }
              }
            }

            a {
              @include transition($transition);
              color: #19232D;
            }

            &:hover {
              &.menu-item-has-children {
                &:before {
                  color: var(--main-color-one);
                }
              }

              a {
                color: var(--main-color-one);
              }
            }
          }
        }
      }
    }
  }

  .custom-container {
    background-color: #fff;
    padding: 0 15px;
    max-width: 1680px;

    .nav-right-content {
      display: flex;
      align-items: center;

      .btn-wrap {
        margin-left: 10px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-left: 15px;
        display: flex;

        li {
          display: inline-block;
          color: #19232D;

          a {
            color: #19232D;
            @include transition($transition);

            &:hover {
              color: var(--main-color-one);

              i {
                color: var(--main-color-one);
              }
            }

            i {
              color: #19232D;
              padding-right: 6px;
              font-weight: 800;
            }
          }

          &.search {
            cursor: pointer;
            @include transition($transition);

            &:hover {
              color: var(--main-color-one);
            }
          }

          &.nav-btn {
            .btn-boxed {
              font-weight: 600;
              text-transform: capitalize;
              border-radius: 5px;
              background-color: var(--main-color-one);

              &:hover {
                background-color: var(--main-color-one);
              }
            }
          }
        }
      }
    }

    .navbar-brand {
      .site-title {
        font-weight: 700;
        font-size: 30px;
        font-family: var(--heading-font);
        line-height: 90px;
        color: var(--heading-color);
      }
    }

    .navbar-collapse {
      .navbar-nav {
        display: block;
        width: 100%;
        text-align: right;

        li {

          display: inline-block;
          font-size: 16px;
          font-weight: 600;
          line-height: 80px;
          position: relative;
          z-index: 0;

          + li {
            margin-left: 30px;
          }

          &.current-menu-item {
            a {
              color: var(--main-color-one);
            }
          }

          &.menu-item-has-children {
            position: relative;
            z-index: 0;
            padding-right: 25px;

            &:before {
              position: absolute;
              right: 0;
              top: 50%;
              content: '+';
              font-weight: 700;
              color: var(--heading-color);
              font-size: 18px;
              font-family: var(--body-font);
              @include transform(translateY(-50%));
              @include transition($transition);
            }

            &:hover > .sub-menu {
              visibility: visible;
              opacity: 1;
            }

            .sub-menu {
              position: absolute;
              text-align: left;
              min-width: 220px;
              margin: 0;
              padding: 0;
              list-style: none;
              left: 0;
              top: 100%;
              box-shadow: 0 0 15px 0 rgba(#000, .05);
              background-color: $white;
              z-index: 9;
              border-bottom: 4px solid var(--main-color-one);
              visibility: hidden;
              opacity: 0;
              @include transition($transition);

              li {
                display: block;
                margin-left: 0;
                line-height: 22px;
                font-size: 14px;

                + li {
                  border-top: 1px solid rgba(#111, .6);
                }

                a {
                  display: block;
                  padding: 12px 17px;
                  background-color: #fff;
                  white-space: nowrap;
                  color: var(--paragraph-color);
                  @include transition($transition);

                  &:hover {
                    background-color: var(--main-color-one);
                    color: #fff;
                  }

                  &:before {
                    display: none;
                  }
                }
              }

              .menu-item-has-children {
                position: relative;
                z-index: 0;
                padding-right: 0px;
                // &:before {
                //     position: absolute;
                //     right: 15px;
                //     top: 50%;
                //     content: '\f107';
                //     font-family: 'fontawesome';
                //     @include transform(translateY(-50%));
                // }
                > .sub-menu {
                  left: -220px;
                  top: 10px;
                  margin-bottom: 0;

                  .sub-menu {
                    .sub-menu {
                      left: auto;
                      right: 100%;
                    }
                  }
                }

                &:hover > .sub-menu {
                  visibility: visible;
                  opacity: 1;

                  li {
                    &:hover {
                      &:before {
                        color: $white;
                      }
                    }

                    a {
                    }
                  }
                }
              }
            }
          }

          a {
            @include transition($transition);
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .navbar-area {
    &.navigation-style-02 {
      .custom-container {
        padding: 20px 15px;
        background-color: var(--secondary-color);

        &.style-01 {
          background-color: #fff;
        }

        .navbar-toggler {
          background-color: #fff;
        }

        .navbar-collapse {
          .navbar-nav {
            padding: 0;

            li {
              &.menu-item-has-children {
                .sub-menu {
                  li {
                    a {
                      background-color: transparent;
                      color: var(--main-color-one);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.navigation-style-01 {
      .custom-container {
        padding: 20px 10px;

        .responsive-mobile-menu {
          .navbar-toggler {
            background-image: none;
          }
        }

        .navbar-collapse {
          .navbar-nav {
            text-align: left;

            li {
              line-height: 30px;

              &.current-menu-item {
                a {
                  color: var(--main-color-one);
                }

                &.menu-item-has-children {
                  &:before {
                    color: var(--main-color-one);
                  }
                }
              }

              &.menu-item-has-children {
                z-index: initial;

                &:before {
                  color: var(--main-color-one);
                }

                .sub-menu {
                  li {
                    a {
                      background-color: transparent;
                      color: var(--main-color-one);

                      &:hover {
                        background-color: var(--main-color-one);
                        color: #fff;
                      }
                    }
                  }

                  .menu-item-has-children {
                    &:hover > .sub-menu {
                      li {
                        &:hover {
                          &:before {
                            color: #656565;
                          }
                        }

                        a {
                        }
                      }
                    }
                  }
                }
              }

              a {
                @include transition($transition);
                color: var(--main-color-one);
              }

              &:hover {
                &.menu-item-has-children {
                  &:before {
                    color: var(--main-color-one);
                  }
                }

                a {
                  color: var(--main-color-one);
                }
              }
            }
          }
        }
      }
    }

    .custom-container {
      position: relative;
      z-index: 9999;
      min-height: 80px;
      padding: 40px 10px;

      .responsive-mobile-menu {
        display: block;
        position: relative;
        width: 100%;

        .navbar-toggler {
          position: absolute;
          right: 15px;
          top: 50%;
          @include transform(translateY(-50%));
          border: 1px solid rgba(0, 0, 0, .2);
          background-color: var(--main-color-one);
        }
      }

      .navbar-brand {
        display: block;

        .navbar-toggler {
          position: absolute;
          right: 10px;
          border: 1px solid rgba(#111, .6);
        }
      }

      .navbar-collapse {
        .navbar-nav {
          display: block;
          margin-top: 40px;

          li {
            display: block;
            text-align: left;
            line-height: 30px;
            padding: 10px 0;
            border-bottom: 1px solid #c7a774;

            &:last-child {
              border-bottom: none;
            }

            + li {
              margin-left: 0;
            }

            &.menu-item-has-children {
              &:before {
                top: 25px;
                right: 20px;
              }

              &:hover {
                //padding-bottom: 0;

                > .sub-menu {
                  visibility: visible;
                  opacity: 1;
                  margin-top: 10px;
                  margin-bottom: -10px;
                }
              }

              .sub-menu {
                position: initial;
                width: 100%;
                border-top: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                margin-left: 0;
                height: auto;
                overflow: hidden;
                max-height: 250px;
                overflow-y: scroll;
                background-color: transparent;
                padding: 0;
                border-bottom: none;
                display: none;
                -webkit-transition: none;
                transition: none;
                visibility: visible;
                opacity: 1;

                .sub-menu .menu-item-has-children:before {
                  content: "\f067";
                }

                li {
                  &.menu-item-has-children {
                    &:hover {
                      &:before {
                        color: $white;
                      }
                    }
                  }

                  padding: 0;

                  + li {
                    border-top: none;
                  }

                  &:first-child {
                    border-top: 1px solid #c7a774;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}
