//Home 3
.home-three-menu .menu-open.open .navigation-three li a {
  transition: 0.8s all ease;
  &:hover {
    transform: skewX(10deg) !important;
    letter-spacing: 2.5px;
    color: #fff;
  }
}

//Blog page pagination
.pagination .page-item a.next, .pagination .page-item a.prev {
  border-width: 0;
}

//Blog Post icon
.postIcon ul li .elementor-icon-list-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(50,73,179,0.1);
    border-radius: 50%;
    text-align: center;
  }
}
.service-single-item {
  margin-bottom: 60px;
}

.grid-item:last-child{
  width: 33.33%;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: '>';
}

// Form subscribe
.wpcf7 form.sent .wpcf7-response-output {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  width: 80%;
  margin-left: -1px;
}
.banner-form ~ .wpcf7 form.sent .wpcf7-response-output {
  border: 1px solid #3249B3;
  color: #3249B3;
  border-radius: 5px;
  width: 80%;
  margin-left: -1px;
}

// checkout page
.checkbox input[type="checkbox"]{
  width: auto;
  margin-right: 10px;
}
.woocommerce-NoticeGroup{
  margin-left: -8px;
}

// home 02 contact form
.contact-form-area .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
}

@media screen and (max-width: 1024px) {
  .elementor-text-effect div {
    color: #4b4b4b;
  }
  .elementor-text-effect div h4{
    color: #1c1c1c !important;
  }
}

// Home 03
.icon img {
  height: 50px !important;
}

// home 04 Banner form
.banner-content .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
}

// home 05 footer form
.contactForm .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
}

// contact page form
.contactForm2 .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
  width: 40%;
}

// From Theme customizing 
.elementor-613 .elementor-element.elementor-element-77a55f4 .elementor-social-icon {
  display: flex;
}
.page-id-11 li.menu-item-has-children::after{
color:#fff;
}
/* ul.wp-block-categories-list.wp-block-categories li {
position:relative;
  font-size: 15px;
  border-bottom: 1px dashed #C9C9C9;
  padding-bottom: 15px;
  margin-bottom: 15px;
padding-left:20px;
}
ul.wp-block-categories-list.wp-block-categories li:last-child {
  border-bottom: 0;
  padding-bottom: 0px;
  margin-bottom: 0px;
} */
.footerFourList ul li{
position:relative;
}
.footerFourList ul li::after{
    position: absolute;
  content: "";
  top: 0px;
  right: -20px !important;
  width: 1px;
  height: 15px !important;
  background-color: rgba(75, 75, 75, 0.4);
}
.footerFourList ul li:last-child::after{
display:none;
}
.download-list{
margin-top:33px !important;
}
.download-list li {
  background-color: #9DBAFE;
  border-radius: 5px;
  color: #fff;
  padding: 15px 30px !important;
  margin-bottom: 15px !important;
  display: inline-block;
  font-weight: 500;
  transition: all 0.5s;
}
.download-list li .elementor-icon-list-icon{
order:2;
padding-left:10px;
vertical-align: middle;
}

/* Menu css */
.navbar-nav ul li {
  line-height: initial;
  display: block;
}

/* Social Icon Footer 5 */
.social_icon_f5 i{
color: #727272 !important;
}
.social_icon_f5 a:hover i{
color: #fff !important;
}

.footer_3_white p,
.footer_3_white i{
color: #fff !important;
}