//Home 3
.home-three-menu .menu-open.open .navigation-three li a {
  transition: 0.8s all ease;
  &:hover {
    transform: skewX(10deg) !important;
    letter-spacing: 2.5px;
    color: #fff;
  }
}

//Blog page pagination
.pagination .page-item a.next, .pagination .page-item a.prev {
  border-width: 0;
}

//Blog Post icon
.postIcon ul li .elementor-icon-list-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: rgba(50,73,179,0.1);
    border-radius: 50%;
    text-align: center;
  }
}
.service-single-item {
  margin-bottom: 60px;
}

.grid-item:last-child{
  width: 33.33%;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: '>';
}

// Form subscribe
.wpcf7 form.sent .wpcf7-response-output {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  width: 80%;
  margin-left: -1px;
}
.banner-form ~ .wpcf7 form.sent .wpcf7-response-output {
  border: 1px solid #3249B3;
  color: #3249B3;
  border-radius: 5px;
  width: 80%;
  margin-left: -1px;
}

// checkout page
.checkbox input[type="checkbox"]{
  width: auto;
  margin-right: 10px;
}
.woocommerce-NoticeGroup{
  margin-left: -8px;
}

// home 02 contact form
.contact-form-area .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
}

@media screen and (max-width: 1024px) {
  .elementor-text-effect div {
    color: #4b4b4b;
  }
  .elementor-text-effect div h4{
    color: #1c1c1c !important;
  }
}

// Home 03
.icon img {
  height: 50px;
}

// home 04 Banner form
.banner-content .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
}

// home 05 footer form
.contactForm .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
}

// contact page form
.contactForm2 .wpcf7 .wpcf7-response-output {
  color: #3249B3 !important;
  border: 1px solid #3249B3 !important;
  width: 40%;
}