
/*---------------------------------------
    ## Back Top
---------------------------------------*/
.back-to-top {

    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color-one);
    color: $white;
    text-align: center;
    line-height: 40px;
    z-index: 99;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}