/*----------------------------
    Blog Grid Item
-----------------------------*/
.blog-grid-carousel-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.blog-outer-wrap {
  padding: 0 15px;
  margin: 15px 0 40px;
}

.blog-slider-controls {
  .slider-nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 135px;
    height: 75px;
    line-height: 40px;
    text-align: center;
    background-color: #f3f5f7;
    border: 4px solid $white;
    color: $white;
    @include transition($transition);

    div {
      font-weight: 400;
      font-size: 16px;
      color: #14212b;
      width: 50px;
      height: 50px;
      background: #fff;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 300ms ease-in;

      &:hover {
        background-color: var(--main-color-one);
        color: $white;
      }

      &.prev-arrow {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.next-arrow {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.blog-grid-item-01 {
  position: relative;
  z-index: 0;
  border-radius: 8px;
  padding: 30px 30px 25px;
  background-color: #fff;
  box-shadow: 0 12px 30px #00000026;

  .thumb {
    position: relative;
    border-radius: 8px;
    margin-bottom: 20px;

    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .content {
    .post-categories {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        color: var(--main-color-one);
        text-transform: capitalize;
        font-weight: 500;
        position: relative;
        margin-right: 10px;

      }
    }

    .post-meta {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        font-size: 14px;
        margin-right: 25px;
        position: relative;
        z-index: 0;
        padding-left: 0;

        &:before {
          display: none;
        }

        &:after {
          position: absolute;
          right: -16px;
          top: 0;
          color: var(--main-color-one);
          font-weight: 400;
          content: "|";
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        &:hover {
          a {
            color: var(--main-color-one);
          }
        }

        a {
          transition: all 300ms;

          svg {
            margin-right: 10px;
          }
        }
      }
    }

    .title {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
      transition: all 300ms;
      padding-top: 10px;
      word-break: break-word;
      margin-bottom: 20px;

      &:hover {
        color: var(--main-color-one);
      }
    }

    .read-btn {
      color: var(--heading-color);
      line-height: 30px;
      font-weight: 600;
      font-family: var(--body-font);
      font-size: 16px;
      display: inline-flex;
      transition: all 300ms ease-in-out;

      i {
        font-size: 12px;
        margin-left: 10px;
        margin-top: 2px;
        color: var(--main-color-one);
        transition: all 300ms ease-in-out;
      }

      &:hover {
        color: var(--main-color-one);

        i {
          margin-left: 15px;
        }
      }
    }
  }
}

// News single items
.news-section-start {
  margin-top: 116px;
}

.our-speeches-section {
  margin-top: 106px;
}

.news-single-items {

  .news-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 425px;
    width: 100%;
    position: relative;
    border-radius: 10px;

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(
                      180deg, rgba(4, 7, 46, 0) 50%, rgba(4, 7, 46, 1) 100%);
      border-radius: 10px;
      z-index: 0;
    }
  }

  .post-categories {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    background: var(--main-color-one);
    padding: 0px 15px;
    display: inline-block;
    border-radius: 13px;
    margin-bottom: 10px;
  }

  .content {
    position: absolute;
    bottom: 30px;
    justify-content: center;
    width: 100%;
    padding: 0px 30px;

    .title {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      transition: .5s all ease;
      margin-bottom: 15px;

      &:hover {
        color: var(--main-color-one);
      }
    }

    .author-meta {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;

      li {
        color: #fff;
        margin-right: 30px;
        position: relative;
        z-index: 0;
        font-size: 14px;

        + li {
          &:after {
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 11px;
            background-color: #fff;
          }
        }
      }
    }
  }
}


.news-single-list-items {
  display: flex;
  margin-bottom: 20px;

  + .news-single-list-items {
    border-top: 1px dashed #CCCCCC;
    padding-top: 20px;
  }

  .content {
    flex: 1;

    .author-meta {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;

      li {
        color: var(--paragraph-color);
        margin-right: 30px;
        position: relative;
        z-index: 0;
        font-size: 14px;

        + li {
          &:after {
            content: '';
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            width: 1px;
            height: 11px;
            background-color: var(--paragraph-color);
          }
        }
      }
    }

    .title {
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
      color: var(--heading-color);
      transition: .5s all ease;

      &:hover {
        color: var(--main-color-one);
      }
    }
  }
}

