/*---------------------------------------
    ## Button
---------------------------------------*/

.btn-wrap {
  display: block;

  .boxed-btn {
    line-height: 50px;
    border: 1px solid var(--main-color-one);
    color: var(--heading-color);
    padding: 0 30px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    background-color: var(--main-color-one);
    display: inline-block;
    text-align: center;
    cursor: pointer;
    @include transition($transition);

    i {
      font-size: 14px;
      font-weight: 700;
      margin-right: 10px;
      margin-left: 5px;
    }

    &.shadow {
      box-shadow: 0px 8px 20px #F8B65D4D;
    }

    &.white {
      &:hover {
        background-color: $white;
        color: var(--main-color-one);
      }
    }

    &.outer-btn {
      border: 1px solid transparent;

      &:hover {
        background-color: transparent;
        color: var(--main-color-one);
        border: 1px solid var(--main-color-one);
      }
    }

    &.blank {
      background-color: transparent;
      border: 1px solid var(--main-color-one);
      color: var(--main-color-one);
      @include transition($transition);

      &.reverse-color {
        background-color: transparent;
        border: 1px solid var(--main-color-one);
        color: var(--main-color-one);

        &:hover {
          background-color: var(--main-color-one);
          color: $white;
          border: 1px solid var(--main-color-one);
        }
      }

      &:hover {
        background-color: var(--main-color-one);
        color: $white;
        border-color: var(--main-color-one);
      }
    }

    &:hover {
      border: 1px solid var(--main-color-one);
      background-color: transparent;
      color: var(--main-color-one);
    }

    &.btn-rounded {
      border-radius: 30px;
    }

    &.reverse-color {
      background-color: var(--main-color-one);

      &:hover {
        background-color: var(--main-color-one);
      }
    }
  }

  .read-btn {
    border: 1px solid vAR(--heading-color);
    border-radius: 28px;
    display: inline-flex;
    background-color: transparent;
    color: var(--heading-color);
    padding: 14px 30px;
    font-size: 16px;
    font-weight: 700;
    @include transition($transition);

    i {
      margin-left: 10px;
    }

    &:hover {
      border-color: var(--main-color-one);
      background-color: var(--main-color-one);
      color: #fff;
    }
  }

  .request-btn {
    line-height: 50px;
    border: 1px solid var(--main-color-one);
    color: var(--main-color-one);
    padding: 0 50px;
    border-radius: 30px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    @include transition($transition);
    // border-right: 5px solid var(--secondary-color);
    position: relative;

    i {
      font-size: 15px;
      margin-left: 10px;
    }

    &:hover {
      background-color: var(--main-color-one);
      color: $white;
    }

    &.style-02 {
      background-color: var(--main-color-one);
      color: $white;
      line-height: 70px;
      padding: 0 40px;
    }
  }

  .book-btn {
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color-one);
    cursor: pointer;
    display: inline-block;
    padding: 0 27px;
    line-height: 55px;
    border: 1px solid var(--main-color-one);
    border-radius: 30px;
    transition: all 300ms ease-in-out;

    i {
      padding-left: 10px;
      font-size: 14px;
    }
  }

  .blank-btn {
    color: var(--main-color-one);
    border-radius: 999px;
    font-size: 16px;
    font-weight: 700;
    //text-align: center;
    transition: all ease 0.5s;

    i {
      font-size: 12px;
      margin-right: 10px;
    }

    &:hover {
      color: var(--heading-color);
    }
  }
}

.btn--base {
  position: relative;
  background: var(--main-color-one);
  border: 1px solid var(--main-color-one);
  color: var(--heading-color);
  padding: 12px 25px;
  border-radius: 999px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;

  &.active {
    background: transparent;
    border: 1px solid transparent;
    color: var(--main-color-one);

    &:focus {
      color: var(--heading-color);
      background: var(--main-color-one);
    }

    &:hover {
      color: var(--heading-color);
      background: var(--main-color-one);
    }
  }

  &:focus {
    color: var(--main-color-one);
    background-color: transparent;
  }

  &:hover {
    color: var(--main-color-one);
    background-color: transparent;
  }
}


.offer-btn {
  .title {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0;
  }

  span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $white;
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 80px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  border: none;
  color: $white;
  cursor: pointer;
  border-color: var(--main-color-one);
  background-color: var(--main-color-one);
  transition: all 0.3s ease-in;
  padding: 0;
  text-align: center;
}

.desktop-center {
  text-align: center;
}

.desktop-left {
  text-align: left;
}

.desktop-right {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  .tablet-center {
    text-align: center;
  }
  .tablet-left {
    text-align: left;
  }
  .tablet-right {
    text-align: right;
  }
}

@media only screen and (max-width: 414px) {
  .mobile-center {
    text-align: center;
  }
  .mobile-left {
    text-align: left;
  }
  .mobile-right {
    text-align: right;
  }
}