/*----------------------------
    Counterup Item
----------------------------*/

.counter-area {
  &.bg-image {
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.m-top {
    margin-top: -180px;
    position: relative;
    z-index: 1;
  }
}

.single-counterup-block-with-img {
  display: inline-block;

  .thumb {
    position: relative;
    z-index: 0;

    img {
      border-bottom-right-radius: 50px;
    }

    .hover {
      position: absolute;
      left: 5%;
      top: 5%;
      width: 90%;
      background-color: $white;
      height: 90%;
      border-bottom-right-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .title {
        font-size: 18px;
        line-height: 28px;
        font-family: var(--body-font);
      }

      .count-num {
        font-size: 120px;
        line-height: 130px;
        color: var(--main-color-one);
        font-family: var(--heading-font);
        font-weight: 700;
      }
    }
  }
}

.single-counterup-01 {
  .icon {
    font-size: 50px;
    line-height: 80px;
    color: var(--main-color-one);
    margin-right: 20px;
  }

  .content {
    .title {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      color: $white;
      font-family: var(--body-font);
    }

    .count-wrap {

      .count-num {
        font-size: 65px;
        line-height: 75px;
        font-weight: 700;
        color: $white;
        display: block;
        margin-bottom: 20px;
        font-family: var(--body-font);

      }

      .sing-plus {
        font-size: 40px;
        font-weight: 700;
        position: relative;
        top: -5px;
        right: 0;
        color: #fff;
      }
    }

    margin-bottom: 0;
  }
}

.single-counterup-02 {
  position: relative;
  z-index: 0;

  &::before {
    position: absolute;
    content: '';
    left: -20px;
    top: -20px;
    width: 0;
    height: 0;
    border-top: 140px solid #24ffcd;
    border-right: 140px solid transparent;
    z-index: -2;
  }

  .content {
    width: 140px;
    height: 140px;
    background: #6452db;
    text-align: center;

    .title {
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: $white;
      font-family: var(--body-font);
    }

    .count-num {
      font-size: 80px;
      line-height: 80px;
      font-weight: 400;
      color: $white;

    }

    .sing-plus {
      font-size: 16px;
      font-weight: 500;
      position: relative;
      bottom: 0;
      right: 0;
    }
  }
}


/*Single Counter Up*/
.single-counterup-03 {
  border: 1px solid #E8E9EA;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
  padding: 40px;
  transition: all 300ms ease-in-out;

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    width: 61px;
    height: 5px;
    background-color: var(--main-color-one);
    transition: all 300ms ease-in-out;
    z-index: -1;
  }

  &:hover {
    &:after {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      bottom: 0;
    }
  }

  .content {
    .icon {
      color: var(--main-color-one);
      background-color: #F9F8F7;
      font-size: 60px;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      border-radius: 50%;
      margin: auto;
      display: block;
      margin-bottom: 20px;
    }

    .count-wrap {
      font-size: 50px;
      line-height: 60px;
      font-weight: 800;
      color: var(--heading-color);
      margin-bottom: 15px;
      position: relative;
      z-index: 0;

      sup {
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        top: 20px;
        margin-left: 10px;
      }
    }

    .title {
      color: var(--heading-color);
      font-family: var(--body-font);
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 0;
    }
  }
}