//Product Single Item
// service-single-item
.deals-carousel-one-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.deals-outer-wrap {
  padding: 0 15px;
}

.single-deals-box {
  border-radius: 8px;
  border: 1px solid #D4D4D4;

  .thumb {
    border-radius: 8px 8px 0 0;
    width: 100%;

    img {
      border-radius: 8px 8px 0 0;
      width: 100%;
    }
  }

  .content {
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 0 0 8px 8px;

    .title {
      font-size: 22px;
      font-weight: 600;
      transition: all 300ms;
      &:hover{
        color: var(--main-color-one);
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
    }

    .package-list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      margin-bottom: 15px;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px dashed #C9C9C9;
      padding-bottom: 15px;

      li {
        font-size: 14px;
        color: #19232D;
        font-weight: 600;
      }
    }

    .btn-wrap {
      .blank-btn {
        color: var(--secondary-color);
        @include transition($transition);
        i {
          @include transition($transition);
          color: var(--main-color-one);
        }
        &:hover{
          color: var(--main-color-one);
          i{
            margin-right: 15px;
          }
        }
      }
    }
  }
}


