//Gallery Single Item
.single-image-gallery {
  overflow: hidden;
  position: relative;
  z-index: 0;
  &:hover {
    .gallery-overlay {
      opacity: 1;
    }
  }
  .thumb {
    display: inline-block;
    border-radius: 30px;

    img {
      width: 100%;
      border-radius: 30px;
    }
  }

  .gallery-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(#290505, .60);
    opacity: 0;
    transition: 0.5s;
    border-radius: 30px;
    .cart-icon {
      height: 100%;
      display: flex;
      justify-content: center;
      color: #fff;
      align-items: center;
    }
  }
}