/*-------------------------
    Section Title
-------------------------*/
.theme-heading-title {
  &.white {
    .subtitle {
      color: var(--main-color-one);
    }

    .title {
      color: $white;
    }

    p {
      color: rgba($white, .7);
    }

    .section-para {
      color: rgba($white, .7);
    }
  }

  .title {
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    font-family: var(--heading-font);
    color: var(--heading-color);
    margin-bottom: 14px;

    span {
      color: var(--main-color-one);
      position: relative;
      font-family: var(--heading-font);
      font-weight: 700;
      font-size: 40px;
      line-height: 50px;
    }
  }

  .subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    z-index: 0;
    margin-bottom: 13px;
    color: var(--heading-color);

    span {
      display: contents;
      color: var(--main-color-one);
    }

    &.shape {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .icon-left {
        margin-right: 10px;
      }

      .icon-right {
        margin-left: 10px;
      }
    }
  }

  &[style="text-align:left"] {
    .subtitle {
      &.shape {
        justify-content: initial;
      }
    }
  }

  span {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--body-font);
    color: var(--main-color-one);
  }

  p {
    color: #19232D;
  }
}


@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }

}

