//Team Details page
.team-details-page {
  .top-content-area {
    display: flex;

    .img-wrapper {
      background-color: #DDE6EF;
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      min-height: 432px;
      width: 100%;
      max-width: 450px;
    }

    .content {
      flex: 1;
      width: 100%;
      border-radius: 5px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      background-color: #f5f3f1;
      padding: 40px;
      margin-left: 30px;

      .title {
        font-size: 24px;
        font-weight: 700;
        font-family: var(--body-font);
      }

      .designation {
        color: var(--heading-color);
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 30px;
      }

      .team-contact-list {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 20px;

        li {
          color: #19232d;
          font-weight: 500;
          margin-bottom: 10px;

          i {
            color: #dcbb87;
            margin-right: 10px;
          }
        }
      }

      .team-social-area {
        .subtitle {
          color: #19232d;
          font-weight: 600;
          font-size: 18px;
          margin-bottom: 20px;
          font-family: var(--body-font);
        }

        .social-icon {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            display: inline-block;

            + li {
              margin-left: 10px;
            }

            a {
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              display: inline-block;
              border-radius: 50%;
              background: transparent;
              border: 1px solid #d5e0ef;
              color: #19232d;
              font-size: 12px;
              transition: all 0.3s;

              &:hover {
                background-color: var(--main-color-one);
                color: #fff;
                border: 1px solid var(--main-color-one);
              }
            }
          }
        }
      }
    }
  }
}